[submodule "roles/GROG.fqdn"]
	path = roles/GROG.fqdn
	url = https://github.com/GROG/ansible-role-fqdn.git
[submodule "roles/jnv.unattended-upgrades"]
	path = roles/jnv.unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades.git
